generate-resume/Generate_Resume.json
{
  "name": "Generate Resume",
  "nodes": [
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/prithviraj-chaudhuri/prithviraj-chaudhuri.github.io/refs/heads/master/public/data/site-content.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -320
      ],
      "id": "9d58525e-1cd7-40ef-9a11-e54d9434ee84",
      "name": "Get information from GitHub"
    },
    {
      "parameters": {
        "formTitle": "Fill in job description",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company name",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Description",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -460,
        -170
      ],
      "id": "ab590191-ee18-4dde-8365-1b7e84570b16",
      "name": "On form submission",
      "webhookId": "b6e2f31e-4ffd-4855-bccd-d26055a887cf"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst input_data = JSON.parse($input.first().json.data);\n\n// Extracting all skills\nlet skills = [];\nlet data_types = input_data.content.skills;\ndata_types.forEach((type) => {\n  type.list.forEach((skill) => {\n    skills.push(skill.skill)\n  });\n});\n\n// Extracting all projects\nlet projects = [];\nlet data_projects = input_data.content.projects;\ndata_projects.forEach((types) => {\n  types.list.forEach((project) => {\n    projects.push(project);\n  });\n});\n\n\nfor (const item of $input.all()) {\n  item.json.skills = skills;\n  item.json.projects = projects;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -320
      ],
      "id": "7bec1862-44ff-45d6-bc21-47b35cdc458c",
      "name": "Filter out skills and projects"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The below is the job description of a company for a role.\nExtract keywords for the main requirements of this job description.\nGenerate the output as a list of comma separated keywords you think are most important and NOTHING ELSE.\n\n{{ $json['Job Description'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an ATS agent. You take in a job description and generate the main requirements in the form of a list of keywords"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -20,
        -20
      ],
      "id": "073990b3-f081-4c65-999a-5931ce5d70ea",
      "name": "Extract main keywords from Job description"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is a list of skills\n{{ $json.skills.join(',') }}\n\nAnd here are a list of projects\n{{ $json.projects.join(',') }}\n\nConsider the extracted keywords from the job description given below and tell me the 4 top most projects I should add to my resume and arrange the skills in order of relevance for the job role.\n\nJob Description:\n{{ $json.text }}\n\n\nGenerate the output in the following json format\n\n{\n  \"skills\":[],\n  \"projects\":[]\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an ATS agent. You take in a job description and information about the candidate (skills and projects) and find the most relevant information for the candidate with respect to this job"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        576,
        -170
      ],
      "id": "390b9666-d10a-4210-9f3f-c6d605e8a73f",
      "name": "Create relevant skills and projects"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "${programming_languages}",
              "replaceText": "python, java, php",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "${frameworks}",
              "replaceText": "Spring boot, Next.js",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "${platforms}",
              "replaceText": "AWS, EKS, OpenShift, OpenEdx, ServiceNow, GCP",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "${other}",
              "replaceText": "Datastores: MySQL, PostgreSQL, JCR, Helm Charts, Kubernetes, Linux, Bash, Ansible, Gitlab CI/CD pipelines, APIs, OpenStack",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1172,
        -170
      ],
      "id": "ddc163b0-6820-4352-9738-55bbebd6c20f",
      "name": "Paste text into template",
      "credentials": {
        "googleApi": {
          "id": "DReTBbK0TISQHuR5",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1J_LiW7Js-kJsBnkqInGPZ2lABPGcoyCnvL0loJHs0-s",
          "mode": "list",
          "cachedResultName": "Prithviraj Chaudhuri Resume Template",
          "cachedResultUrl": "https://docs.google.com/document/d/1J_LiW7Js-kJsBnkqInGPZ2lABPGcoyCnvL0loJHs0-s/edit?usp=drivesdk"
        },
        "name": "Prithviraj Chaudhuri - Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        952,
        -170
      ],
      "id": "6513d4f5-fbbd-4596-a282-296583dd438d",
      "name": "Copy Resume template",
      "credentials": {
        "googleApi": {
          "id": "DReTBbK0TISQHuR5",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        356,
        -170
      ],
      "id": "d30ae4ba-fd16-4812-86e7-c67e809ca0b9",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        200
      ],
      "id": "3739bb49-677f-48e2-861c-92482f7a8950",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0Ce3S8fwfOQvTqlg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        664,
        50
      ],
      "id": "83551bdb-6fa8-495f-bda8-cfc2c3d7c7d7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0Ce3S8fwfOQvTqlg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"skills\": {\n\t\t\t\"type\": \"array\",\n            \"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"projects\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        820,
        60
      ],
      "id": "cd3aa9e3-a7a0-4741-9043-1f06755fe6a8",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Get information from GitHub": {
      "main": [
        [
          {
            "node": "Filter out skills and projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get information from GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract main keywords from Job description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out skills and projects": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract main keywords from Job description": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create relevant skills and projects": {
      "main": [
        [
          {
            "node": "Copy Resume template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Resume template": {
      "main": [
        [
          {
            "node": "Paste text into template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paste text into template": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create relevant skills and projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract main keywords from Job description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create relevant skills and projects",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Create relevant skills and projects",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea52d745-84e3-4c6f-9baf-5a6e3ea41d93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c1d51593aac4c786a165cf91f1ece51e7f7d51917cd907d718a787ef8561802b"
  },
  "id": "eGks2CoNi3tqZQ3N",
  "tags": []
}