workout-sync/Calculate_workout_metrics_and_backup.json
{
  "name": "Calculate workout metrics and backup",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "129f621e1ff48070a7c0dbe20d4087a9",
          "mode": "id"
        },
        "title": "={{ $json.date }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workout volume|number",
              "numberValue": "={{ $json.workoutVolume }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $json.date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6853adb-a890-4980-a885-72e79500c1b1",
      "name": "Save Workout Volume",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        960,
        660
      ],
      "credentials": {
        "notionApi": {
          "id": "6ZG3L0AyPWHfKTPO",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet workoutVolume = 0;\n\nif ($input.all().length == 1 && Object.keys($input.all()[0].json).length == 0) {\n  date = $today.minus({days: 1}).toLocaleString();\n} else {\n  date = $input.first().json.property_date.start;\n}\n\nfor (const item of $input.all()) {\n  if (item.json.property_calories_burned == 0) {\n    let weight = item.json.property_weight;\n    if (weight == 0) {\n      weight = 1;\n    }\n    workoutVolume += weight * item.json.property_reps;\n  }\n}\n\nreturn  { 'json' : { workoutVolume: workoutVolume, date: date} };"
      },
      "id": "b7bfe344-bb71-42d4-8658-a59531968fd1",
      "name": "Calculate Workout volume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        660
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "80d697df-038d-4b7e-8669-ecf428cc403c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        340,
        660
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "3c276567-d75f-405d-a064-212e1de63d5c",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        320,
        900
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/saved_data/notion-archive/workout-data.json",
        "options": {}
      },
      "id": "a476a175-938c-4042-a557-18a7feae2fba",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        540,
        900
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "notion-workout-metrics",
          "mode": "list",
          "cachedResultName": "notion-workout-metrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WORKOUT_VOLUME": "={{ $json.property_workout_volume === 0 ? '0' : $json.property_workout_volume }}",
            "DATE": "={{ $json.property_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WORKOUT_VOLUME",
              "displayName": "WORKOUT_VOLUME",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e1b03fb6-44f1-4945-a808-26f78d54df47",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1180,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "q9eJZOIHBcW4hOHd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "128f621e1ff4809abd96ef3a63a849fb",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "d6ea6800-66fa-452e-bb60-66aaa2f34419",
      "name": "Get All workout logs",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1180,
        660
      ],
      "credentials": {
        "notionApi": {
          "id": "6ZG3L0AyPWHfKTPO",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "128f621e1ff4809abd96ef3a63a849fb",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Date|date",
              "condition": "after",
              "date": "={{ $now.minus(2, \"days\").format('yyyy-MM-dd') }}"
            },
            {
              "key": "Date|date",
              "condition": "before",
              "date": "={{ $now.minus(1, \"days\").format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31cfc162-7558-4ce4-8328-3db307766244",
      "name": "Get Workout Data today",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        540,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "6ZG3L0AyPWHfKTPO",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calculate Workout volume": {
      "main": [
        [
          {
            "node": "Save Workout Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Workout Data today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Workout Volume": {
      "main": [
        [
          {
            "node": "Get All workout logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All workout logs": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workout Data today": {
      "main": [
        [
          {
            "node": "Calculate Workout volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eed00001-cc06-4f16-b598-e3e413bc4cee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c1d51593aac4c786a165cf91f1ece51e7f7d51917cd907d718a787ef8561802b"
  },
  "id": "1OvzknTdaJV7HLo1",
  "tags": []
}